@import "tailwindcss";

@keyframes floating {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
}

.floating {
  animation: floating 4s ease-in-out infinite;
}

/* versao devagar */
.floating-1 {
  animation: floating 4.5s ease-in-out infinite;
  animation-delay: 0.5s;
}

/* versao mais devagar ainda */
.floating-2 {
  animation: floating 5s ease-in-out infinite;
  animation-delay: 1s;
}



/* versao ULTRA MEGA devagar */
.floating-3 {
  animation: floating 10s ease-in-out infinite;
  animation-delay: 1s;
}

::selection {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}



::-webkit-scrollbar {
  background-color: #000;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #2f2f2f;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2f2f2f;
}


@font-face {
        font-family: 'medium';
        src: url('/Medium.otf') format('opentype')
    }
